
<div class="text-center">
    @{
    @Html.AntiForgeryToken();
    }
    <h1 class="display-4">Minesweeper</h1>
    <div id="board-container">
        @await Html.PartialAsync("_board")
    </div>
</div>


<!--The scripts below might be causing a problem. -->


@section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>

        $("#page-timestamp").text("Loaded: " + new Date().toLocaleString());
            // Right-Click Flag Logic
            function handleRightClick(event, row, col) {
                event.preventDefault(); // Stop the default browser context menu
                


            }

           

            // Left Click AJAX Logic
            $(document).ready(function(){
                $(document).on("click", ".game-button button", function(e){
                    //e.preventDefault();
            
                    var row = $(this).data("row");
                    var col = $(this).data("col");
                    var wrapper = $(this).closest(".game-button");
                    var token = $('input[name="__RequestVerificationToken"]').val();
                      
            
                    $(this).prop("disabled", true);
            
                    $.ajax({
                        type: "POST",
                        url: "/Minesweeper/PartialPageCellUpdate",
                        data: {row: row, col: col},
                        headers: { "RequestVerificationToken": token },

                        success: function(html){
                            //wrapper.replaceWith(html);
                            $("#board-container").replaceWith(html);
                        },

                        error: function(xhr, status, error){
                        console.error("An error occurred: " + error);
                        }
                    });
                }); 
            });
    </script>
        
}
