
<div class="text-center">
    @{
    @Html.AntiForgeryToken();
    }
    <h1 class="display-4">Minesweeper</h1>

    <!--Created at timestamp-->
    <p class="text-muted">Page loaded at: <strong>@DateTime.Now.ToString("T")</strong></p>

    <div id="board-container">
        @await Html.PartialAsync("_board")
    </div>
    <div>
        <p></p>
        <button>
            Save Game
        </button>
        <p></p>
        <form asp-action="LoadGame">
            <button>
                Load Game
            </button>
        </form>
    </div>
</div>

@section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>

        $("#page-timestamp").text("Loaded: " + new Date().toLocaleString());

        // Right-Click Flag Logic
        function handleRightClick(event, row, col) {
            event.preventDefault(); // Stop the context menu
    
            var token = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: "POST",
                url: "/Minesweeper/Flag",
                data: {row: row, col: col},
                headers: { "RequestVerificationToken": token },
                success: function(html){
                    // This line is keeping the page from refreshing
                    $("#board-container").html(html);
                },
                error: function(xhr, status, error){
                    console.error("An error occurred: " + error);
                }
            });
        }

           

            // Left Click AJAX Logic
            $(document).ready(function(){
                $(document).on("click", ".game-button button", function(e){
                    e.preventDefault();
            
                    var row = $(this).data("row");
                    var col = $(this).data("col");
                    var wrapper = $(this).closest(".game-button");
                    var token = $('input[name="__RequestVerificationToken"]').val();
            
                    $(this).prop("disabled", true);
            
                    $.ajax({
                        type: "POST",
                        url: "/Minesweeper/PartialPageCellUpdate",
                        data: {row: row, col: col},
                        headers: { "RequestVerificationToken": token },

                        success: function(html){
                            $("#board-container").html(html);
                        },

                        error: function(xhr, status, error){
                        console.error("An error occurred: " + error);
                        }
                    });
                }); 
            });
    </script>
        
}
