<h1>Load/Delete a previous game</h1>
<p>Choose from one of the options below</p>



<div>
    <p></p>
    <button>
        Save Game
    </button>
    <button>
        Load Game
    </button>
</div>

